
body{
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    display: block;
    text-align: center;
    width: 100%;
}

.top{
    background-image: url("img/hero_landing_us_alt\ main.avif");
    background-repeat: no-repeat;
    height: 580px;
    background-size: cover;    
    height: 700px;
    margin-top: -50px;
}

.nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);    
}

.nav h3{
    grid-column: 6/8;
    margin: 60px;
    text-align: center;
}

.nav a:nth-child(2){
    grid-column: 11/12;
    text-align: right;
    width: 100%;
    margin-top: 75px;
    margin-right: 5px;
    color: white;
}
.nav a:nth-child(3){
    grid-column: 12/13;
    text-align: center;
    margin-top: 65px;
    margin-left: 10px;
    padding: 7px 0;
    color: black;
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    width: 80px;
    height: 18px;
}
.nav a{
    margin-top: 100px;
    text-decoration: none;
    font-weight: 900;
}
.heading{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    width: 800px;
    padding: 0 auto;
    margin-left: auto;
    margin-right: auto;
    line-height: 76px;
}
.head1{
    margin: 0;
    text-align: center;
}

.head2{
    margin: 0;
    text-align: center;
}

.address{
    font-size: 15px;
    border: 2px solid white;
    border-radius: 20px;
    width: 350px;
    height: 40px;
    padding: 0 30px;
}
input:focus{
    outline-color: #8080e6;
}
img.arrow{
    width: 22px;
    border: 2px solid white;
    border-radius: 20px;
    position: absolute;
    margin-top: 30px;
    margin-left: -50px;
    background-color: red;
}
.location{
    position: absolute;
    width: 25px;
    margin-top: 30px;
    padding-left: 5px;
}

.mid{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    grid-column-gap: 50px;
    margin: 5% 17%;
}
.mid1, .mid2, .mid3{
    width: 100%;
    padding:0;
    margin: 20px;
}
.mid a{
    text-decoration: none;
    color: #dd0707;
    font-weight: 600;
    margin-top: 30px;
}
.mid h2{
    text-align: center;
    font-size: 30px;
    width: 100%;

}
.mid img{
    width: 50%;
}
.mid p {
    width:70%;
    margin: auto;
    letter-spacing: 0ch;
    line-height: 22px;
    font-weight:500;
    font-size: 18px;
}
.mid a{
    display: flex;
    flex-flow: column;
    width: 100%;  
    margin: 15px auto;
}

.main{
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-gap: 100px;
   width: 100%;
}
.main1{
    grid-column: 3/5;
    width: 200%;
    text-align: left;
    padding-top: 30px;
}
.main1 h1{
    font-size: 38px;
    letter-spacing: -0.07ch;
}
.main1 p{
    width: 90%;
    line-height: 22px;
    font-weight: 538;
    margin-top: -10px;
    font-size: 18px;
}
.main1 button{
    text-align: left;
    border-radius: 25px;
    height: 45px;
    width: 110px;
    background-color: #dd0707;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid white;
    text-align: center;
}
.main1 button:hover{
    background-color: #b90707;
}
.main1 a{
    text-decoration: none;
    color: white;
}
.img1{
    grid-column: 6/11;
    width: 90%;
    z-index: 1;
}
.bg{
    grid-column: 1/13;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    text-align: left;
    background-color: #fdeff1;
    margin-top: -130px;
    padding-top: 90px;
    height: 130%;
}
.main2{
    grid-column: 8/10;
    width: 230%;
    margin-top: 40px;
    margin-left: -50px;
}
.main2 h1{
    font-size: 38px;
    letter-spacing: -0.07ch;
}
.main2 p{
    width: 60%;
    font-size: 18px;
    font-weight: 538;
}
.img2{
    grid-column: 3/7;
    grid-row: 1;
    width: 100%;
}
.main2 a{
    text-decoration: none;
    color: white;
}
.main2 button{
    text-align: left;
    border-radius: 25px;
    height: 45px;
    width: 150px;
    background-color: #dd0707;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid white;
    text-align: center;
}
.main2 button:hover{
    background-color: #b90707;
}

.footer{
    background-color: #000;
    margin-top: 70px;
    padding-left: 50px;
    height: 100%;
    margin-bottom: -100px;
}
.footer h4{
    margin-bottom: 2px;
}
.part1{
    display: grid;
    grid-template-columns: repeat(20,1fr);
    padding-left: 20px;
    padding-bottom: 20px;
}

.cities1{
    grid-column: 4/6;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    color: white;
    width: 60%;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}
.part1 a:hover{
    text-decoration: underline;
    color: white;
}
.cities2{
    grid-column: 6/8;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
}
.cities3{
    grid-column: 8/10;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
    width: 80%;
}
.part1 a{
    text-decoration: none;
    color: #c4c4c4;
}
.cuisines1{
    grid-column: 10/12;
    display: flex;
    color: white;
    flex-direction: column;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
}
.cuisines2{
    grid-column: 13/15;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
}
.part2{
    display: grid;
    grid-template-columns: repeat(20,1fr);
    color: white;
}
.part2 div.know{
    grid-column: 4/6;
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
    padding-left: 20px;
}

.know a{
    text-decoration: none;
    color: #c4c4c4;
}
.know a:hover{
    text-decoration: underline;
    color: white;
}
div.help{
    grid-column: 6/8;
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
}
.help a{
    text-decoration: none;
    color: #c4c4c4;
}
.help a:hover{
    text-decoration: underline;
    color: white;
}
.business{
    grid-column: 8/10;
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
}
.business a{
    text-decoration: none;
    color: #c4c4c4;
}
.business a:hover{
    text-decoration: underline;
    color: white;
}
.icon{
    grid-column: 15/16;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
div.icon .icon1{
    width: 80px;
    margin-bottom: 10px;
}
div.icon .icon2{
    width: 80px;
}
div.icon .icon1{
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    display: flex;
}
div.icon .icon2{
    border: 1px solid black;
    border-radius: 10px;
    width: 152px;
    height: 50px;
    display: flex;
}
.part3{
    color: white;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap:5px   
}
.bottom1{
    grid-column: 3/10;
    text-align: left;
    margin-left: -20px;
    display: flex;
    flex-direction: row;
    
}
.bottom1 p{
    font-size: 12px;
    padding-left: 12px;
    letter-spacing: 0.5px;
    line-height: 18px;
}
.bottom1 a{
    text-decoration: none;
    color: white;
    text-align: center;
    align-self: center;
}
.bottom1 a:hover{
    text-decoration: underline;
}
.ddlogo{
    width: 20px;
    height: 25px;
}
div.part4{
    grid-column: 10/12;
    display: flex;
    flex-direction: row;
}
div.part4 .fb{
    width: 25px;
    height: 20px;
    background-color: black;
    padding-right: 5px;
    padding-top: 10px;
}
div.part4 .tw{
    width: 35px;
    height: 35px;
    padding-top: 4px;
    text-align: center;
}
div.part4 .ig{
    width: 25px;
    padding-left: 5px;
    padding-top: 10px;
    height: 20px;
}
.strip{
    background: white;
    height: 20px;
    margin-left: -50px;
}

